html {
  height: 100%;
  width: 100%;
}
body{
  background-color: blue;
}
p{
  color: white;
  font-size: 60px;
  font-family: 'Courier New', Courier, monospace;
text-align: center;
font-weight: bold;
}
div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.encabezado img{
  margin: 30px;
  max-height: 100px;

}
